* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #ffe4e1, #fceabb);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}

.container {
  display: flex;
  width: 900px;
  height: 700px;
  /* background: #fff; */

  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.left-section {
  flex: 1;
  /* background-color: #fdfdfd; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section img {
  width: 100%;
  border: 1px solid maroon;
  border-radius: 50%;
  max-width: 500px;
}

.right-section {
  flex: 1;
  padding: 40px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.input-group .icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.forgot {
  text-align: right;
  margin-bottom: 20px;
}

.forgot a {
  font-size: 14px;
  color: #555;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #fbc02d;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #f9a825;
}
